body {
    background: black;
    overflow: hidden;
    z-index: 1;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%,-50%);
}

#playerImage, #backgroundImage, #enemyImage1 {
    display: none;
}




