* {
    margin: 0;
    padding: 0;     /* makes width and height the same on different divices */
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
    z-index: 1;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%,-50%);
    max-width: 100%;   /* makes width and height the same on different divices */
    max-height: 100%;
}

#playerImage, #backgroundImage, #enemyImage1 {
    display: none;
}
