body {
    background: black;
    overflow: hidden;
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%,-50%);
    border: 5px solid black;
    z-index: 2;
}

#playerImage, #backgroundImage, #enemyImage1 {
    display: none;
}



#lightningbolt-bg {
    margin-top: -5;
}

